# Hands-on Lab: Backup and Restore using MySQL

In this lab, you will learn how to use the MySQL command line interface (CLI) to create different types of backups of a database and restore the structure and data of a database with your created backups when needed.

## **Objectives**

After completing this lab, you will be able to use the MySQL command line to:

- Perform a Logical Backup and Restore
- Perform Point-in-Time Backup and Restoration
- Perform a Physical Backup and Restore

# Example Exercise A: Perform a Logical Backup and Restore

Donwload world_mysql_script.sql

In [1]:
!curl -O https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/datasets/World/world_mysql_script.sql

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  380k  100  380k    0     0   188k      0  0:00:02  0:00:02 --:--:--  188k

Donwload world_mysql_update_A.sql

In [2]:
!curl -O https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/datasets/World/world_mysql_update_A.sql

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  1035  100  1035    0     0   1810      0 --:--:-- --:--:-- --:--:--  1825

In [4]:
#%pip install sql_magic

In [5]:
#%pip install python-dotenv

In [6]:
#%pip install ipython-sql

In [2]:
path = "/usr/local/mysql-8.0.31-macos12-arm64/bin/"

In [3]:
import os
from dotenv import load_dotenv

# Cargar variables de entorno desde el archivo .env
load_dotenv()

# Obtener la contraseña de la variable de entorno
password = os.getenv("DB_PASSWORD")

In [4]:
!{path}mysql --host=127.0.0.1 --port=3306 --user=root --password={password} --execute="SHOW DATABASES" 2>/dev/null;

+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| sys                |
| world              |
+--------------------+

CREATE DATABASE world

In [33]:
!{path}mysql --host=127.0.0.1 --port=3306 --user=root --password={password} --execute="CREATE DATABASE world" 2>/dev/null;

In [16]:
!{path}mysql --host=127.0.0.1 --port=3306 --user=root --password={password} --execute="SHOW DATABASES" 2>/dev/null;

+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| sys                |
| world              |
+--------------------+

Load the data from the .sql file into the database world.

In [17]:
!{path}mysql --host=127.0.0.1 --port=3306 --user=root --password={password} world < world_mysql_script.sql 2>/dev/null;

In [7]:
%load_ext sql

In [8]:
# Crear la URL de conexión
%sql mysql+pymysql://root:{password}@localhost:3306/world

In [20]:
%sql SHOW TABLES;

 * mysql+pymysql://root:***@localhost:3306/world
3 rows affected.

[('city',), ('country',), ('countrylanguage',)]

In [21]:
%sql SELECT * FROM countrylanguage WHERE countrycode='CAN';

 * mysql+pymysql://root:***@localhost:3306/world
0 rows affected.

[]

Load update

In [22]:
!{path}mysql --host=127.0.0.1 --port=3306 --user=root --password={password} world < world_mysql_update_A.sql 2>/dev/null;

In [23]:
%sql SELECT * FROM countrylanguage WHERE countrycode='CAN';

 * mysql+pymysql://root:***@localhost:3306/world
12 rows affected.

[('CAN', 'Chinese', 'F', Decimal('2.5')),
 ('CAN', 'Dutch', 'F', Decimal('0.5')),
 ('CAN', 'English', 'T', Decimal('60.4')),
 ('CAN', 'Eskimo Languages', 'F', Decimal('0.1')),
 ('CAN', 'French', 'T', Decimal('23.4')),
 ('CAN', 'German', 'F', Decimal('1.6')),
 ('CAN', 'Italian', 'F', Decimal('1.7')),
 ('CAN', 'Polish', 'F', Decimal('0.7')),
 ('CAN', 'Portuguese', 'F', Decimal('0.7')),
 ('CAN', 'Punjabi', 'F', Decimal('0.7')),
 ('CAN', 'Spanish', 'F', Decimal('0.7')),
 ('CAN', 'Ukrainian', 'F', Decimal('0.6'))]

# LOGICAL BACKUP (mysqldump):

In [24]:
!{path}mysqldump --host=127.0.0.1 --port=3306 --user=root --password={password} world countrylanguage > world_countrylanguage_mysql_backup.sql 2>/dev/null;


mysqldump --host=127.0.0.1 --port=3306 --user=root --password world countrylanguage > world_countrylanguage_mysql_backup.sql

In [25]:
%sql DROP TABLE world.countrylanguage;

 * mysql+pymysql://root:***@localhost:3306/world
0 rows affected.

[]

In [26]:
%sql SHOW TABLES FROM world;

 * mysql+pymysql://root:***@localhost:3306/world
2 rows affected.

[('city',), ('country',)]

Console RESTORE BACKUP:

mysql --host=127.0.0.1 --port=3306 --user=root --password world < world_countrylanguage_mysql_backup.sql

In [27]:
!{path}mysql --host=127.0.0.1 --port=3306 --user=root --password={password} world < world_countrylanguage_mysql_backup.sql 2>/dev/null;

In [28]:
!{path}mysql --host=127.0.0.1 --port=3306 --user=root --password={password} --execute="SHOW TABLES FROM world;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+-----------------+
| Tables_in_world |
+-----------------+
| city            |
| country         |
| countrylanguage |
+-----------------+

In [29]:
%sql SHOW TABLES FROM world;

 * mysql+pymysql://root:***@localhost:3306/world
3 rows affected.

[('city',), ('country',), ('countrylanguage',)]

In [30]:
%sql SELECT * FROM world.countrylanguage WHERE countrycode='CAN';

 * mysql+pymysql://root:***@localhost:3306/world
12 rows affected.

[('CAN', 'Chinese', 'F', Decimal('2.5')),
 ('CAN', 'Dutch', 'F', Decimal('0.5')),
 ('CAN', 'English', 'T', Decimal('60.4')),
 ('CAN', 'Eskimo Languages', 'F', Decimal('0.1')),
 ('CAN', 'French', 'T', Decimal('23.4')),
 ('CAN', 'German', 'F', Decimal('1.6')),
 ('CAN', 'Italian', 'F', Decimal('1.7')),
 ('CAN', 'Polish', 'F', Decimal('0.7')),
 ('CAN', 'Portuguese', 'F', Decimal('0.7')),
 ('CAN', 'Punjabi', 'F', Decimal('0.7')),
 ('CAN', 'Spanish', 'F', Decimal('0.7')),
 ('CAN', 'Ukrainian', 'F', Decimal('0.6'))]

# Example Exercise B: Perform Point-in-Time Backup and Restore

In [31]:
!curl -O https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/datasets/World/world_mysql_update_B.sql

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  3497  100  3497    0     0   4502      0 --:--:-- --:--:-- --:--:--  4644

First create a full logical backup of the current state of your whole world database.

In [32]:
!{path}mysqldump --host=127.0.0.1 --port=3306 --user=root --password={password} world > world_mysql_full_backup.sql 2>/dev/null;

In [33]:
%sql SHOW TABLES;

 * mysql+pymysql://root:***@localhost:3306/world
3 rows affected.

[('city',), ('country',), ('countrylanguage',)]

Retrieve all the Canada (countrycode=’CAN’) related records from the city table

In [34]:
%sql SELECT * FROM city WHERE countrycode='CAN';

 * mysql+pymysql://root:***@localhost:3306/world
0 rows affected.

[]

Run the update script (world_mysql_update_B.sql) to insert the records you were looking for.

In [157]:
!{path}mysql --host=127.0.0.1 --port=3306 --user=root --password={password} world < world_mysql_update_B.sql 2>/dev/null;

In [158]:
%sql SELECT * FROM city WHERE countrycode='CAN';

 * mysql+pymysql://root:***@localhost:3306/world
49 rows affected.

[(1810, 'Montréal', 'CAN', 'Québec', 1016376),
 (1811, 'Calgary', 'CAN', 'Alberta', 768082),
 (1812, 'Toronto', 'CAN', 'Ontario', 688275),
 (1813, 'North York', 'CAN', 'Ontario', 622632),
 (1814, 'Winnipeg', 'CAN', 'Manitoba', 618477),
 (1815, 'Edmonton', 'CAN', 'Alberta', 616306),
 (1816, 'Mississauga', 'CAN', 'Ontario', 608072),
 (1817, 'Scarborough', 'CAN', 'Ontario', 594501),
 (1818, 'Vancouver', 'CAN', 'British Colombia', 514008),
 (1819, 'Etobicoke', 'CAN', 'Ontario', 348845),
 (1820, 'London', 'CAN', 'Ontario', 339917),
 (1821, 'Hamilton', 'CAN', 'Ontario', 335614),
 (1822, 'Ottawa', 'CAN', 'Ontario', 335277),
 (1823, 'Laval', 'CAN', 'Québec', 330393),
 (1824, 'Surrey', 'CAN', 'British Colombia', 304477),
 (1825, 'Brampton', 'CAN', 'Ontario', 296711),
 (1826, 'Windsor', 'CAN', 'Ontario', 207588),
 (1827, 'Saskatoon', 'CAN', 'Saskatchewan', 193647),
 (1828, 'Kitchener', 'CAN', 'Ontario', 189959),
 (1829, 'Markham', 'CAN', 'Ontario', 189098),
 (1830, 'Regina', 'CAN', 'Saskatchewan', 180400),
 (1831, 'Burnaby', 'CAN', 'British Colombia', 179209),
 (1832, 'Québec', 'CAN', 'Québec', 167264),
 (1833, 'York', 'CAN', 'Ontario', 154980),
 (1834, 'Richmond', 'CAN', 'British Colombia', 148867),
 (1835, 'Vaughan', 'CAN', 'Ontario', 147889),
 (1836, 'Burlington', 'CAN', 'Ontario', 145150),
 (1837, 'Oshawa', 'CAN', 'Ontario', 140173),
 (1838, 'Oakville', 'CAN', 'Ontario', 139192),
 (1839, 'Saint Catharines', 'CAN', 'Ontario', 136216),
 (1840, 'Longueuil', 'CAN', 'Québec', 127977),
 (1841, 'Richmond Hill', 'CAN', 'Ontario', 116428),
 (1842, 'Thunder Bay', 'CAN', 'Ontario', 115913),
 (1843, 'Nepean', 'CAN', 'Ontario', 115100),
 (1844, 'Cape Breton', 'CAN', 'Nova Scotia', 114733),
 (1845, 'East York', 'CAN', 'Ontario', 114034),
 (1846, 'Halifax', 'CAN', 'Nova Scotia', 113910),
 (1847, 'Cambridge', 'CAN', 'Ontario', 109186),
 (1848, 'Gloucester', 'CAN', 'Ontario', 107314),
 (1849, 'Abbotsford', 'CAN', 'British Colombia', 105403),
 (1850, 'Guelph', 'CAN', 'Ontario', 103593),
 (1851, 'Saint John´s', 'CAN', 'Newfoundland', 101936),
 (1852, 'Coquitlam', 'CAN', 'British Colombia', 101820),
 (1853, 'Saanich', 'CAN', 'British Colombia', 101388),
 (1854, 'Gatineau', 'CAN', 'Québec', 100702),
 (1855, 'Delta', 'CAN', 'British Colombia', 95411),
 (1856, 'Sudbury', 'CAN', 'Ontario', 92686),
 (1857, 'Kelowna', 'CAN', 'British Colombia', 89442),
 (1858, 'Barrie', 'CAN', 'Ontario', 89269)]

Now you will create a scenario where a database crash will be conducted intentionally which will result a significant loss of your world database files.

In [45]:
!rm -rf {path}world

The command to force close the MySQL server can be run on your terminal as follows:

In [52]:
!{path}mysqladmin -u root -p{password} shutdown 2>/dev/null

You will face errors since a significant loss of your world database files happened.

In [144]:
%sql SELECT * FROM city WHERE countrycode='CAN';

 * mysql+pymysql://root:***@localhost:3306/world
(pymysql.err.ProgrammingError) (1146, "Table 'world.city' doesn't exist")
[SQL: SELECT * FROM city WHERE countrycode='CAN';]
(Background on this error at: https://sqlalche.me/e/20/f405)

restart mysql using the command below in the terminal :

sudo /usr/local/mysql/support-files/mysql.server restart

In [165]:
!{path}mysql --host=127.0.0.1 --port=3306 --user=root --password={password} --execute="SHOW BINARY LOGS;" 2>/dev/null

+---------------+-----------+-----------+
| Log_name      | File_size | Encrypted |
+---------------+-----------+-----------+
| binlog.000001 |       638 | No        |
| binlog.000002 |   6848648 | No        |
| binlog.000003 |    735977 | No        |
+---------------+-----------+-----------+

Write the contents of all binary log files listed above to a single file using the command below in the terminal:

sudo mysqlbinlog /usr/local/mysql/data/binlog.000001 /usr/local/mysql/data/binlog.000002 /usr/local/mysql/data/binlog.000003 > logfile.sql

ready to perform point-in-time restore. First restore the full logical backup of your whole world database

In [34]:
!{path}mysql --host=127.0.0.1 --port=3306 --user=root --password={password} world < world_mysql_full_backup.sql 2>/dev/null;

To verify if you have the updates from the update script (world_mysql_update_B.sql)

In [35]:
%sql SELECT * FROM city WHERE countrycode='CAN';

 * mysql+pymysql://root:***@localhost:3306/world
0 rows affected.

[]

Now run the logfile you created

In [39]:
!{path}mysql --host=127.0.0.1 --port=3306 --user=root --password={password} --force < logfile.sql 2>/dev/null;

In [40]:
%sql SELECT * FROM world.city WHERE countrycode='CAN';

 * mysql+pymysql://root:***@localhost:3306/world
49 rows affected.

[(1810, 'Montréal', 'CAN', 'Québec', 1016376),
 (1811, 'Calgary', 'CAN', 'Alberta', 768082),
 (1812, 'Toronto', 'CAN', 'Ontario', 688275),
 (1813, 'North York', 'CAN', 'Ontario', 622632),
 (1814, 'Winnipeg', 'CAN', 'Manitoba', 618477),
 (1815, 'Edmonton', 'CAN', 'Alberta', 616306),
 (1816, 'Mississauga', 'CAN', 'Ontario', 608072),
 (1817, 'Scarborough', 'CAN', 'Ontario', 594501),
 (1818, 'Vancouver', 'CAN', 'British Colombia', 514008),
 (1819, 'Etobicoke', 'CAN', 'Ontario', 348845),
 (1820, 'London', 'CAN', 'Ontario', 339917),
 (1821, 'Hamilton', 'CAN', 'Ontario', 335614),
 (1822, 'Ottawa', 'CAN', 'Ontario', 335277),
 (1823, 'Laval', 'CAN', 'Québec', 330393),
 (1824, 'Surrey', 'CAN', 'British Colombia', 304477),
 (1825, 'Brampton', 'CAN', 'Ontario', 296711),
 (1826, 'Windsor', 'CAN', 'Ontario', 207588),
 (1827, 'Saskatoon', 'CAN', 'Saskatchewan', 193647),
 (1828, 'Kitchener', 'CAN', 'Ontario', 189959),
 (1829, 'Markham', 'CAN', 'Ontario', 189098),
 (1830, 'Regina', 'CAN', 'Saskatchewan', 180400),
 (1831, 'Burnaby', 'CAN', 'British Colombia', 179209),
 (1832, 'Québec', 'CAN', 'Québec', 167264),
 (1833, 'York', 'CAN', 'Ontario', 154980),
 (1834, 'Richmond', 'CAN', 'British Colombia', 148867),
 (1835, 'Vaughan', 'CAN', 'Ontario', 147889),
 (1836, 'Burlington', 'CAN', 'Ontario', 145150),
 (1837, 'Oshawa', 'CAN', 'Ontario', 140173),
 (1838, 'Oakville', 'CAN', 'Ontario', 139192),
 (1839, 'Saint Catharines', 'CAN', 'Ontario', 136216),
 (1840, 'Longueuil', 'CAN', 'Québec', 127977),
 (1841, 'Richmond Hill', 'CAN', 'Ontario', 116428),
 (1842, 'Thunder Bay', 'CAN', 'Ontario', 115913),
 (1843, 'Nepean', 'CAN', 'Ontario', 115100),
 (1844, 'Cape Breton', 'CAN', 'Nova Scotia', 114733),
 (1845, 'East York', 'CAN', 'Ontario', 114034),
 (1846, 'Halifax', 'CAN', 'Nova Scotia', 113910),
 (1847, 'Cambridge', 'CAN', 'Ontario', 109186),
 (1848, 'Gloucester', 'CAN', 'Ontario', 107314),
 (1849, 'Abbotsford', 'CAN', 'British Colombia', 105403),
 (1850, 'Guelph', 'CAN', 'Ontario', 103593),
 (1851, 'Saint John´s', 'CAN', 'Newfoundland', 101936),
 (1852, 'Coquitlam', 'CAN', 'British Colombia', 101820),
 (1853, 'Saanich', 'CAN', 'British Colombia', 101388),
 (1854, 'Gatineau', 'CAN', 'Québec', 100702),
 (1855, 'Delta', 'CAN', 'British Colombia', 95411),
 (1856, 'Sudbury', 'CAN', 'Ontario', 92686),
 (1857, 'Kelowna', 'CAN', 'British Colombia', 89442),
 (1858, 'Barrie', 'CAN', 'Ontario', 89269)]

In [31]:
#!{path}mysql --host=127.0.0.1 --port=3306 --user=root --password={password} --execute="DROP DATABASE world" 2>/dev/null;

In [32]:
#!{path}mysql --host=127.0.0.1 --port=3306 --user=root --password={password} --execute="SHOW DATABASES;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| sys                |
+--------------------+

In [16]:
#!{path}mysql --host=127.0.0.1 --port=3306 --user=root --password={password} --execute="SHOW TABLES FROM world;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+-----------------+
| Tables_in_world |
+-----------------+
| city            |
| country         |
| countrylanguage |
+-----------------+

# Example Exercise C: Perform Physical Backup and Restore

In macOS, you can perform a physical backup of the MySQL database similar to how it's done in Linux-based systems. Here are the steps:

Stop the MySQL server to prevent changes to the files while the backup is being taken. You can do this by running the following command in your terminal:

In [ ]:
!sudo /usr/local/mysql/support-files/mysql.server stop



Locate the directory where the database files are stored. Typically, this directory is /usr/local/mysql/data, but it may vary depending on your system configuration.

Copy all the contents of the database directory to a secure location for backup. You can do this with the following command in your terminal:

In [ ]:
!sudo cp -r "/usr/local/mysql/data" "/destination/path"

In [48]:
!chmod a+w "/Users/sanhuezalejandro/Desktop/05_PYTHON/00_Workspace/IBM-Data-Engineering-Professional-Certificate/07_Relational_Database_Administration_(DBA)/01_Backup_and_Restore_using_MySQL/mysql_backup"

Backup

In [51]:
!sudo cp -r "/usr/local/mysql/data" "/Users/sanhuezalejandro/Desktop/05_PYTHON/00_Workspace/IBM-Data-Engineering-Professional-Certificate/07_Relational_Database_Administration_(DBA)/01_Backup_and_Restore_using_MySQL/mysql_backup"

Password:
sudo: a password is required

Restore

In [52]:
#sudo cp -r "/Users/sanhuezalejandro/Desktop/05_PYTHON/00_Workspace/IBM-Data-Engineering-Professional-Certificate/07_Relational_Database_Administration_(DBA)/01_Backup_and_Restore_using_MySQL/mysql_backup/data" "/usr/local/mysql/"

Replace /destination/path with the location where you want to store the physical backup of the database.

Once the backup is complete, you can restart the MySQL server to bring it back online. You can do this with the following command:
sql

In [ ]:
!sudo /usr/local/mysql/support-files/mysql.server start

With these steps, you'll have performed a full physical backup of the MySQL database on macOS. Remember that this type of backup is faster and more efficient for restoring large amounts of data, but it's not as portable as a logical backup in SQL format.