# Lab: MongoDB Aggregation

![https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMSkillsNetwork-WD0231EN-SkillsNetwork/IDSN-logo.png](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMSkillsNetwork-WD0231EN-SkillsNetwork/IDSN-logo.png)

Estimated time needed: **45** minutes

## **Objectives**

After completing this lab, you will be able to:

- Describe simple aggregation operators that process and compute data such as $sort, $limit, $group, $sum, $min, $max, and $avg
- Combine operators to create multi-stage aggregation pipelines
- Build aggregation pipelines that draw insights about the data by returning aggregated values

In MongoDB CLI (i.e. mongo shell), switch the context to `training` database.

In [1]:

#use training



And create a collection called `bigdata`

In [2]:

#db.createCollection("bigdata")

# **Pymongo**

In [4]:
import pymongo

# Connect to MongoDB
client = pymongo.MongoClient("mongodb://localhost:27017/")

# Select the training database
db = client["training"]



# **Exercise 1 - Load sample document**

Load sample data into the `training` database in `marks` collection.

In [ ]:

# db.marks.insert({"name":"Ramesh","subject":"maths","marks":87})
# db.marks.insert({"name":"Ramesh","subject":"english","marks":59})
# db.marks.insert({"name":"Ramesh","subject":"science","marks":77})
# db.marks.insert({"name":"Rav","subject":"maths","marks":62})
# db.marks.insert({"name":"Rav","subject":"english","marks":83})
# db.marks.insert({"name":"Rav","subject":"science","marks":71})
# db.marks.insert({"name":"Alison","subject":"maths","marks":84})
# db.marks.insert({"name":"Alison","subject":"english","marks":82})
# db.marks.insert({"name":"Alison","subject":"science","marks":86})
# db.marks.insert({"name":"Steve","subject":"maths","marks":81})
# db.marks.insert({"name":"Steve","subject":"english","marks":89})
# db.marks.insert({"name":"Steve","subject":"science","marks":77})
# db.marks.insert({"name":"Jan","subject":"english","marks":0,"reason":"absent"})

In [5]:
db.marks.insert_many([
    {"name": "Ramesh", "subject": "maths", "marks": 87},
    {"name": "Ramesh", "subject": "english", "marks": 59},
    {"name": "Ramesh", "subject": "science", "marks": 77},
    {"name": "Rav", "subject": "maths", "marks": 62},
    {"name": "Rav", "subject": "english", "marks": 83},
    {"name": "Rav", "subject": "science", "marks": 71},
    {"name": "Alison", "subject": "maths", "marks": 84},
    {"name": "Alison", "subject": "english", "marks": 82},
    {"name": "Alison", "subject": "science", "marks": 86},
    {"name": "Steve", "subject": "maths", "marks": 81},
    {"name": "Steve", "subject": "english", "marks": 89},
    {"name": "Steve", "subject": "science", "marks": 77},
    {"name": "Jan", "subject": "english", "marks": 0, "reason": "absent"}
])

InsertManyResult([ObjectId('66456d67e064489750eabb24'), ObjectId('66456d67e064489750eabb25'), ObjectId('66456d67e064489750eabb26'), ObjectId('66456d67e064489750eabb27'), ObjectId('66456d67e064489750eabb28'), ObjectId('66456d67e064489750eabb29'), ObjectId('66456d67e064489750eabb2a'), ObjectId('66456d67e064489750eabb2b'), ObjectId('66456d67e064489750eabb2c'), ObjectId('66456d67e064489750eabb2d'), ObjectId('66456d67e064489750eabb2e'), ObjectId('66456d67e064489750eabb2f'), ObjectId('66456d67e064489750eabb30')], acknowledged=True)



# **Exercise 2 - Limiting the rows in the output**

Using the `$limit` operator we can limit the number of documents printed in the output.

This command will print only 2 documents from the `marks` collection.

In [6]:
#db.marks.aggregate([{"$limit":2}])

In [7]:
# Exercise 2 - Limiting the rows in the output
cursor = db.marks.aggregate([{"$limit": 2}])
print("Exercise 2 - Limiting the rows in the output:")
for doc in cursor:
    print(doc)

Exercise 2 - Limiting the rows in the output:
{'_id': ObjectId('66456d67e064489750eabb24'), 'name': 'Ramesh', 'subject': 'maths', 'marks': 87}
{'_id': ObjectId('66456d67e064489750eabb25'), 'name': 'Ramesh', 'subject': 'english', 'marks': 59}



# **Exercise 3 - Sorting based on a column**

We can use the `$sort` operator to sort the output.

This command sorts the documents based on field marks in ascending order.

In [8]:

#db.marks.aggregate([{"$sort":{"marks":1}}])

In [9]:
cursor = db.marks.aggregate([{"$sort": {"marks": 1}}])
for doc in cursor:
    print(doc)

{'_id': ObjectId('66456d67e064489750eabb30'), 'name': 'Jan', 'subject': 'english', 'marks': 0, 'reason': 'absent'}
{'_id': ObjectId('66456d67e064489750eabb25'), 'name': 'Ramesh', 'subject': 'english', 'marks': 59}
{'_id': ObjectId('66456d67e064489750eabb27'), 'name': 'Rav', 'subject': 'maths', 'marks': 62}
{'_id': ObjectId('66456d67e064489750eabb29'), 'name': 'Rav', 'subject': 'science', 'marks': 71}
{'_id': ObjectId('66456d67e064489750eabb26'), 'name': 'Ramesh', 'subject': 'science', 'marks': 77}
{'_id': ObjectId('66456d67e064489750eabb2f'), 'name': 'Steve', 'subject': 'science', 'marks': 77}
{'_id': ObjectId('66456d67e064489750eabb2d'), 'name': 'Steve', 'subject': 'maths', 'marks': 81}
{'_id': ObjectId('66456d67e064489750eabb2b'), 'name': 'Alison', 'subject': 'english', 'marks': 82}
{'_id': ObjectId('66456d67e064489750eabb28'), 'name': 'Rav', 'subject': 'english', 'marks': 83}
{'_id': ObjectId('66456d67e064489750eabb2a'), 'name': 'Alison', 'subject': 'maths', 'marks': 84}
{'_id': ObjectId('66456d67e064489750eabb2c'), 'name': 'Alison', 'subject': 'science', 'marks': 86}
{'_id': ObjectId('66456d67e064489750eabb24'), 'name': 'Ramesh', 'subject': 'maths', 'marks': 87}
{'_id': ObjectId('66456d67e064489750eabb2e'), 'name': 'Steve', 'subject': 'english', 'marks': 89}



This command sort the documents based on field marks in descending order.

In [10]:

#db.marks.aggregate([{"$sort":{"marks":-1}}])

In [11]:
cursor = db.marks.aggregate([{"$sort": {"marks": -1}}])
for doc in cursor:
    print(doc)

{'_id': ObjectId('66456d67e064489750eabb2e'), 'name': 'Steve', 'subject': 'english', 'marks': 89}
{'_id': ObjectId('66456d67e064489750eabb24'), 'name': 'Ramesh', 'subject': 'maths', 'marks': 87}
{'_id': ObjectId('66456d67e064489750eabb2c'), 'name': 'Alison', 'subject': 'science', 'marks': 86}
{'_id': ObjectId('66456d67e064489750eabb2a'), 'name': 'Alison', 'subject': 'maths', 'marks': 84}
{'_id': ObjectId('66456d67e064489750eabb28'), 'name': 'Rav', 'subject': 'english', 'marks': 83}
{'_id': ObjectId('66456d67e064489750eabb2b'), 'name': 'Alison', 'subject': 'english', 'marks': 82}
{'_id': ObjectId('66456d67e064489750eabb2d'), 'name': 'Steve', 'subject': 'maths', 'marks': 81}
{'_id': ObjectId('66456d67e064489750eabb26'), 'name': 'Ramesh', 'subject': 'science', 'marks': 77}
{'_id': ObjectId('66456d67e064489750eabb2f'), 'name': 'Steve', 'subject': 'science', 'marks': 77}
{'_id': ObjectId('66456d67e064489750eabb29'), 'name': 'Rav', 'subject': 'science', 'marks': 71}
{'_id': ObjectId('66456d67e064489750eabb27'), 'name': 'Rav', 'subject': 'maths', 'marks': 62}
{'_id': ObjectId('66456d67e064489750eabb25'), 'name': 'Ramesh', 'subject': 'english', 'marks': 59}
{'_id': ObjectId('66456d67e064489750eabb30'), 'name': 'Jan', 'subject': 'english', 'marks': 0, 'reason': 'absent'}



# **Exercise 4 - Sorting and limiting**

Aggregation usually involves using more than one operator.

A pipeline consists of one or more operators declared inside an array.

The operators are comma separated.

Mongodb executes the first operator in the pipeline and sends its output to the next operator.

Let's create a two stage pipeline that answers the question "What are the top 2 marks?”

In [12]:

# db.marks.aggregate([
# {"$sort":{"marks":-1}},
# {"$limit":2}
# ])

In [13]:
pipeline = [
    {"$sort": {"marks": -1}},
    {"$limit": 2}
]
cursor = db.marks.aggregate(pipeline)
for doc in cursor:
    print(doc)

{'_id': ObjectId('66456d67e064489750eabb2e'), 'name': 'Steve', 'subject': 'english', 'marks': 89}
{'_id': ObjectId('66456d67e064489750eabb24'), 'name': 'Ramesh', 'subject': 'maths', 'marks': 87}



# **Exercise 5 - Group by**

The operator `$group` by, along with operators like $sum, $avg, $min, $max, allows us to perform grouping operations.

This aggregation pipeline prints the average marks across all subjects.

In [14]:

# db.marks.aggregate([
# {
# "$group":{
# "_id":"$subject",
# "average":{"$avg":"$marks"}
# }
# }
# ])

In [15]:
pipeline = [
    {
        "$group": {
            "_id": "$subject",
            "average": {"$avg": "$marks"}
        }
    }
]
cursor = db.marks.aggregate(pipeline)
for doc in cursor:
    print(doc)

{'_id': 'science', 'average': 77.75}
{'_id': 'maths', 'average': 78.5}
{'_id': 'english', 'average': 62.6}



The above query is equivalent to the below sql query.

In [ ]:

# SELECT subject, average(marks)
# FROM marks
# GROUP BY subject



# **Exercise 6 - Putting it all together**

Now let's put together all the operators we have learnt to answer the question. "Who are the top 2 students by average marks?”

This involves:

- finding the average marks per student
- sorting the output based on average marks in descending order
- limiting the output to two documents

In [16]:

# db.marks.aggregate([
# {
# "$group":{
# "_id":"$name",
# "average":{"$avg":"$marks"}
# }
# },
# {
# "$sort":{"average":-1}
# },
# {
# "$limit":2
# }
# ])

In [17]:
pipeline = [
    {
        "$group": {
            "_id": "$name",
            "average": {"$avg": "$marks"}
        }
    },
    {"$sort": {"average": -1}},
    {"$limit": 2}
]
cursor = db.marks.aggregate(pipeline)
for doc in cursor:
    print(doc)

{'_id': 'Alison', 'average': 84.0}
{'_id': 'Steve', 'average': 82.33333333333333}



# **Practice exercises**

1. Problem: Find the total marks for each student across all subjects.
- Click here for Hint

> use the $sum operator along with $group on the field ‘name’
>
- Click here for Solution

In [ ]:

# db.marks.aggregate([
# {
# "$group":{"_id":"$name","total":{"$sum":"$marks"}}
# }
# ])

In [18]:
# 1. Find the total marks for each student across all subjects
pipeline = [
    {"$group": {"_id": "$name", "total": {"$sum": "$marks"}}}
]
cursor = db.marks.aggregate(pipeline)
for doc in cursor:
    print(doc)

{'_id': 'Ramesh', 'total': 223}
{'_id': 'Alison', 'total': 252}
{'_id': 'Steve', 'total': 247}
{'_id': 'Jan', 'total': 0}
{'_id': 'Rav', 'total': 216}



1. Problem: Find the maximum marks scored in each subject.
- Click here for Hint

> use the $max operator along with $group on the field ‘subject’
>
- Click here for Solution

In [ ]:

# db.marks.aggregate([
# {
# "$group":{"_id":"$subject","max_marks":{"$max":"$marks"}}
# }
# ])

In [21]:
# 2. Find the maximum marks scored in each subject
pipeline = [
    {"$group": {"_id": "$subject", "max_marks": {"$max": "$marks"}}}
]
cursor = db.marks.aggregate(pipeline)
for doc in cursor:
    print(doc)

{'_id': 'maths', 'max_marks': 87}
{'_id': 'english', 'max_marks': 89}
{'_id': 'science', 'max_marks': 86}



1. Problem: Find the minimum marks scored by each student.
- Click here for Hint

> use the $min operator along with $group on the field ‘name’
>
- Click here for Solution

In [19]:

# db.marks.aggregate([
# {
# "$group":{"_id":"$name","min_marks":{"$min":"$marks"}}
# }
# ])

In [22]:
# 3. Find the minimum marks scored by each student
pipeline = [
    {"$group": {"_id": "$name", "min_marks": {"$min": "$marks"}}}
]
cursor = db.marks.aggregate(pipeline)
for doc in cursor:
    print(doc)

{'_id': 'Jan', 'min_marks': 0}
{'_id': 'Steve', 'min_marks': 77}
{'_id': 'Ramesh', 'min_marks': 59}
{'_id': 'Rav', 'min_marks': 62}
{'_id': 'Alison', 'min_marks': 82}



1. Problem: Find the top two subjects based on average marks.
- Click here for Hint

> use the $avg operator along with $group on the field subject. Sort by average descending. Limit output to 2 documents
>
- Click here for Solution

In [23]:
# db.marks.aggregate([
# {
# "$group":{
# "_id":"$subject",
# "average":{"$avg":"$marks"}
# }
# },
# {
# "$sort":{"average":-1}
# },
# {
# "$limit":2
# }
# ])

In [24]:
# 4. Find the top two subjects based on average marks
pipeline = [
    {"$group": {"_id": "$subject", "average": {"$avg": "$marks"}}},
    {"$sort": {"average": -1}},
    {"$limit": 2}
]
cursor = db.marks.aggregate(pipeline)
for doc in cursor:
    print(doc)

{'_id': 'maths', 'average': 78.5}
{'_id': 'science', 'average': 77.75}