# Hands-on Lab: OLTP Database

![https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0321EN-SkillsNetwork/Images/SN_web_lightmode.png](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0321EN-SkillsNetwork/Images/SN_web_lightmode.png)

# **OLTP Database**

Estimated time needed: **30** minutes.

## **About This SN Labs Cloud IDE**

This Skills Network Labs Cloud IDE provides a hands-on environment for course and project related labs. It utilizes Theia, an open-source IDE (Integrated Development Environment) platform, that can be run on desktop or on the cloud. To complete this lab, we will be using the Cloud IDE based on Theia and MySQL running in a Docker container.

# **Important Notice about this lab environment**

Please be aware that sessions for this lab environment are not persisted. Every time you connect to this lab, a new environment is created for you. Any data you may have saved in the earlier session would get lost. Plan to complete these labs in a single session, to avoid losing your data.

## **Scenario**

You are a data engineer at an e-commerce company. Your company needs you to design a data platform that uses MySQL as an OLTP database. You will be using MySQL to store the OLTP data.

## **Objectives**

In this assignment you will:

- design the schema for OLTP database.
- load data into OLTP database.
- automate admin tasks.

## **Tools / Software**

- MySQL 8.0.22
- phpMyAdmin 5.0.4

## **Note - Screenshots**

Throughout this lab you will be prompted to take screenshots and save them on your own device. You will need these screenshots to either answer graded quiz questions or to upload as your submission for peer review at the end of this course. You can use various free screengrabbing tools to do this or use your operating system's shortcut keys to do this (for example Alt+PrintScreen in Windows).

# **Exercise 1 - Check the lab environment**

Before you proceed with the assignment :

- Start MySQL server.

In [61]:
import os
from dotenv import load_dotenv

# Specify the full path to the .env file
env_path = os.path.join(os.path.dirname(os.path.abspath('__file__')), 'MySQL', '.env')

# Load environment variables from the .env file
load_dotenv(dotenv_path=env_path)

# Get the password from the environment variable
password = os.getenv("MYSQL_ROOT_PASSWORD")

# Print the password to verify that it was loaded correctly (optional)
#print(f"The MySQL root password is: {password}")

The MySQL root password is: 1234

In [62]:
# Define the shell command with proper password substitution
path = f"docker exec -it --user 'root' 'mysql_container' bash -c"

In [63]:
shell_command = f"{path} 'mysql  --user=root --password={password} --execute=\"SHOW DATABASES\"' 2>/dev/null"

In [64]:
# Execute the shell command
!{shell_command}

mysql: [Warning] Using a password on the command line interface can be insecure.
+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| sys                |
+--------------------+

docker exec -it --user 'root'  'mysql_container' '/bin/bash'

# **Exercise 2 - Design the OLTP Database**

### **Task 1 - Create a database.**

Create a database named sales.

In [74]:
query = "CREATE DATABASE sales"

In [75]:
shell_command = f"{path} 'mysql  --user=root --password={password} --execute=\"{query}\"' 2>/dev/null"

In [76]:
!{shell_command}

mysql: [Warning] Using a password on the command line interface can be insecure.

In [77]:
query = "SHOW DATABASES"

In [78]:
shell_command = f"{path} 'mysql  --user=root --password={password} --execute=\"{query}\"' 2>/dev/null"

In [79]:
!{shell_command}

mysql: [Warning] Using a password on the command line interface can be insecure.
+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| sales              |
| sys                |
+--------------------+

### **Task 2 - Design a table named sales_data.**

Design a table named sales_data based on the sample data given.

![https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0321EN-SkillsNetwork/oltp/sampledata.png](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0321EN-SkillsNetwork/oltp/sampledata.png)

Create the sales_data table in `sales` database.

Take a screenshot of the sql statement you used and the output.

Name the screenshot as `createtable.jpg`. (images can be saved with either .jpg or .png extension)

In [80]:
query="create table sales_data (product_id int, customer_id int, price float (10,3), quantity int, timestamp timestamp ); "

In [81]:
shell_command = f"{path} 'mysql  --user=root --password={password} sales --execute=\"{query}\"' 2>/dev/null"

In [82]:
!{shell_command}

mysql: [Warning] Using a password on the command line interface can be insecure.

# **Exercise 3 - Load the Data**

### **Task 3 - Import the data in the file oltpdata.csv**

Download the file oltpdata.csv from [https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0321EN-SkillsNetwork/oltp/oltpdata.csv](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0321EN-SkillsNetwork/oltp/oltpdata.csv)

Import the data from oltpdata.csv into sales_data table using phpMyAdmin.

Take a screenshot of the phpMyAdmin import status.

Name the screenshot as `importdata.jpg`. (images can be saved with either .jpg or .png extension)

In [40]:
!curl -O "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0321EN-SkillsNetwork/oltp/oltpdata.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 98061  100 98061    0     0  47232      0  0:00:02  0:00:02 --:--:-- 47235

### **Task 4 - List the tables in the database `sales`.**

Take a screenshot of the command you used and the output.

Name the screenshot as `listtables.jpg`. (images can be saved with either .jpg or .png extension)

In [84]:
query="SHOW TABLES"

In [85]:
shell_command = f"{path} 'mysql  --user=root --password={password} sales --execute=\"{query}\"' 2>/dev/null"

In [86]:
!{shell_command}

mysql: [Warning] Using a password on the command line interface can be insecure.
+-----------------+
| Tables_in_sales |
+-----------------+
| sales_data      |
+-----------------+

### **Task 5. Write a query to find out the count of records in the tables sales_data.**

Take a screenshot of the command you used and the output.

Name the screenshot as `salesrows.jpg`. (images can be saved with either .jpg or .png extension)

In [88]:
query="SELECT count(*) FROM sales_data"

In [90]:
shell_command = f"{path} 'mysql  --user=root --password={password} sales --execute=\"{query}\"' 2>/dev/null"
!{shell_command}

mysql: [Warning] Using a password on the command line interface can be insecure.
+----------+
| count(*) |
+----------+
|     2605 |
+----------+

# **Exercise 4 - Set up Admin tasks**

### **Task 6 - Create an index**

Create an index named ts on the timestamp field.

In [91]:
# Definir la consulta
query = "CREATE INDEX ts ON sales_data (timestamp)"

In [92]:
shell_command = f"{path} 'mysql  --user=root --password={password} sales --execute=\"{query}\"' 2>/dev/null"
!{shell_command}

mysql: [Warning] Using a password on the command line interface can be insecure.

### **Task 7 - List indexes**

List indexes on the table sales_data.

Take a screenshot of the command you used and the output.

Name the screenshot as `listindexes.jpg`. (images can be saved with either .jpg or .png extension)

In [93]:
query="SHOW INDEX FROM sales_data;"

In [94]:
shell_command = f"{path} 'mysql  --user=root --password={password} sales --execute=\"{query}\"' 2>/dev/null"
!{shell_command}

mysql: [Warning] Using a password on the command line interface can be insecure.
+------------+------------+----------+--------------+-------------+-----------+-------------+----------+--------+------+------------+---------+---------------+---------+------------+
| Table      | Non_unique | Key_name | Seq_in_index | Column_name | Collation | Cardinality | Sub_part | Packed | Null | Index_type | Comment | Index_comment | Visible | Expression |
+------------+------------+----------+--------------+-------------+-----------+-------------+----------+--------+------+------------+---------+---------------+---------+------------+
| sales_data |          1 | ts       |            1 | timestamp   | A         |        2605 |     NULL |   NULL | YES  | BTREE      |         |               | YES     | NULL       |
+------------+------------+----------+--------------+-------------+-----------+-------------+----------+--------+------+------------+---------+---------------+---------+------------+

### **Task 8 - Write a bash script to export data.**

Write a bash script named `datadump.sh` that exports all the rows in the sales_data table to a file named sales_data.sql

Take a screenshot of the contents of the `datadump.sh` bash file command you used and the output.

Name the screenshot as `exportdata.jpg`. (images can be saved with either .jpg or .png extension)

End of assignment.

In [52]:
!touch datadump.sh

#!/bin/bash

# Get the MySQL root password from the .env file
MYSQL_ROOT_PASSWORD=$(grep MYSQL_ROOT_PASSWORD MySQL/.env | cut -d '=' -f2)

# Define the command to export the data
COMMAND="docker exec -i mysql_container mysqldump -uroot -p${MYSQL_ROOT_PASSWORD} sales sales_data > sales_data.sql"

# Execute the command
eval $COMMAND

In [55]:
!chmod +x datadump.sh

In [56]:
!./datadump.sh

mysqldump: [Warning] Using a password on the command line interface can be insecure.

## **Authors**

Ramesh Sannareddy

## **Other Contributors**

Rav Ahuja

## **Change Log**

| Date (YYYY-MM-DD) | Version | Changed By | Change Description |
| --- | --- | --- | --- |
| 2021-11-22 | 0.1 | Ramesh Sannareddy | Created initial version |
| 2022-10-17 | 0.2 | Ramesh Sannareddy | Updated version |
| 2022-10-24 | 0.3 | Alison Woolford | Updated version |
| 2022-05-16 | 0.4 | Lakshmi Holla | Changed Task8 markdown |

**Copyright (c) 2022 IBM Corporation. All rights reserved.**